<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-primary">
		<div class="panel-heading" role="tab" id="headingRem">
			<h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseRem" aria-expanded="false" aria-controls="collapseRem">Remuneration and Benefits<span class="pull-right">+</span></a></h4>
		</div>
		<div id="collapseRem" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRem">
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Question</th>
							<th>Response</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>The salary was adequate in relation to responsibilities</td>
							<td><%= @exit_interview.salary %></td>
						</tr>
						<tr>
							<td>Salary was paid on time</td>
							<td><%= @exit_interview.timely_wage %></td>
						</tr>
						<tr>
							<td>Other benefits were good</td>
							<td><%= @exit_interview.benefit %></td>
						</tr>
						<tr>
							<td>Work-life balance was promoted and practised</td>
							<td><%= @exit_interview.work_life_balance %></td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
			</div>
			</div>
