<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @disciplinary_action.name %>
</p>

<%= link_to 'Edit', edit_disciplinary_action_path(@disciplinary_action) %> |
<%= link_to 'Back', disciplinary_actions_path %>
